<div class="d-block w-100 response-container" style="position: relative; margin-top: 30px;" id="response-container-{{ response.id }}">
    {% if response.user_id == user.id %}
        <div class="btn-response-actions-{{ response.id }}">...</div><!-- btn -->
        <div class="response-actions-{{ response.id }} no-close-comment-opts d-none">
            <ul class="no-close-comment-opts">
                <li class="opt-edit no-close-comment-opts" id="responseActionEdit-{{ response.id }}">Editar</li>
                <li class="opt-delete no-close-comment-opts" id="responseActionDelete-{{ response.id }}">Apagar</li>
            </ul>
        </div>
    {% endif %}
    <div class="d-block w-100">
        <div class="d-flex align-items-center gap-3 p-2 bg-light mb-5 w-100">
            <p class="d-flex flex-row align-items-start justify-content-start">
                {% if response.user_response.photo and response.user_response.photo is defined %}
                    <div class="bg-user-cover"
                         style="background-image: url({{ BASE_URL }}/{{ response.user_response.photo }}); background-size: cover; border-radius: 50%; width: 45px; height: 45px;"></div>
                {% else %}
                <div class="border rounded-circle p-3 align-self-start" style="width: 50px; height: 50px;">
                        <i class="icon-profile-male"></i>
                </div>
                {% endif %}
                <div>
                    <strong>{{ response.user_response.name }}</strong> respondeu
                    <span id="comment-response-{{ response.id }}">&bull; <span>{{ response.text }}</span></span>
                    <div id="div-response-actions-{{ response.id }}" class="d-none">
                        <button class="btn-response-action-save">Salvar</button>
                        <button class="btn-response-action-cancel">Cancelar</button>
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>
